<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAutionsAdsLabel" jhiTranslate="auctionAdsApp.autionsAds.home.createOrEditLabel">Create or edit a Autions Ads</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!autionsAds.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="autionsAds.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auctionAdsApp.autionsAds.idAuction" for="field_idAuction">Id Auction</label>
            <input type="number" class="form-control" name="idAuction" id="field_idAuction"
                [(ngModel)]="autionsAds.idAuction" required/>
            <div [hidden]="!(editForm.controls.idAuction?.dirty && editForm.controls.idAuction?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idAuction?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idAuction?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auctionAdsApp.autionsAds.priceAuction" for="field_priceAuction">Price Auction</label>
            <input type="number" class="form-control" name="priceAuction" id="field_priceAuction"
                [(ngModel)]="autionsAds.priceAuction" required/>
            <div [hidden]="!(editForm.controls.priceAuction?.dirty && editForm.controls.priceAuction?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.priceAuction?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.priceAuction?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auctionAdsApp.autionsAds.dateAction" for="field_dateAction">Date Action</label>
            <div class="input-group">
                <input id="field_dateAction" type="text" class="form-control" name="dateAction" ngbDatepicker  #dateActionDp="ngbDatepicker" [(ngModel)]="autionsAds.dateAction"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateActionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auctionAdsApp.autionsAds.advertisement" for="field_advertisement">Advertisement</label>
            <select class="form-control" id="field_advertisement" name="advertisement" [(ngModel)]="autionsAds.advertisement" >
                <option [ngValue]="null"></option>
                <option [ngValue]="advertisementOption.id === autionsAds.advertisement?.id ? autionsAds.advertisement : advertisementOption" *ngFor="let advertisementOption of advertisements; trackBy: trackAdvertisementById">{{advertisementOption.idAd}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auctionAdsApp.autionsAds.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="autionsAds.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === autionsAds.user?.id ? autionsAds.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.idUser}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
